@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primaryColor: #3CCF91;
  --secondaryColor: #3CCF91;
  --tertiaryColor: #3CCF91;
  --primaryColorDark: #3CCF91;
  --secondaryColorDark: #3CCF91;
  --tertiaryColorDark: #3CCF91;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Roboto', sans-serif;
}
